@keyframes marquee {
    0% {
          opacity:100%;
      left: 100%;
    }
    100% {
          opacity:100%;
      left: -100%
    }
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');

@font-face {
    font-family: 'SaiyanSans';
    src: url('fonts/Saiyan-Sans.ttf') format('truetype');
}

@font-face {
    font-family: 'Mangat';
    src: url(fonts/mangat.ttf) format('truetype');
}

*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
}
  
.intro{
    background-image: url(media/bckg.png);
    background-repeat: no-repeat;
    background-size: 1420px;
    display: flex;
    flex-direction: column;
}
  
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 13rem;
}
  
header h1{
    font-size: 100px;
    font-family: 'SaiyanSans', serif ;
    color: white;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    -webkit-text-stroke: 3px black;
    margin-top: 16.8rem;
    padding: 1rem 1rem 1rem 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    background-image: url(https://i.imgur.com/MwJiPZd.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

header h2{
    font-size: 80px;
    font-family: 'Mangat', serif;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: white;
    -webkit-text-stroke: 3px black;
    background-image: url(https://i.imgur.com/Wb79T98.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 1rem 1rem 1rem 1rem;
}

.summary{
	position:relative;
	font-family: 'Public Sans', sans-serif;
	font-weight: 600;
	border-top: 2px solid #E0BB22;
	border-bottom: 2px solid #E0BB22;
    background-color:#F9EA93;
    padding: 10px 0px 10px 0px;
}

.summary::after{
    background-image: url(media/nimbus.png);
    content: " ";
    background-size: cover;
    height: 100px;
	width: 100px;
    background-repeat: no-repeat;
    position: absolute;
	z-index: 1;
	bottom: -2rem;
    left: 93%;
}


.summary > p:first-child{
	overflow:visible;
	color: black;
	animation: marquee 25s linear infinite;
	position:relative;
	white-space: nowrap;
}
.summary > p:last-child{
	overflow: hidden;
	animation: marquee 25s linear infinite;
	position: absolute;
	top: 1%;
	animation-delay:12s;
    padding: 10px 0px 10px 0px;
	color:black;
	white-space: nowrap;
	opacity:0%;
}

.preamble{
    background: url(media/gifbackground.gif);    
    background-repeat: repeat;
    background-size: cover;
	font-family: 'Public Sans', sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    text-align: center;
}

.preamble h3{
    background-color: #5C768D;
	font-weight: 600;
    padding: 1rem 1.5rem 1rem 1.5rem;
    font-size: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 auto;
}

.preamble > p:first-of-type{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.preamble p{
    padding: 1rem 1.5rem 1rem 1.5rem;
	font-weight: 200;
    align-self: center;
    text-align: left;
    font-size: 22px;
    width: 800px;
    background-color: #5C768D;
}

.preamble > p:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.preamble::after{
    content: url(media/gohanssj2.gif);
    padding-bottom: 10rem;
}

.supporting::before{
    background: url(https://i.imgur.com/3SI8dO4.png) left center;
    display: list-item;
    padding-top: 2rem;
    background-size: contain;
    content:"";
}

.supporting{
	font-family: 'Public Sans', sans-serif;
    background-color: black;
    color: white;
}

.explanation{
    display:flex;
    position: relative;
    flex-direction: column;
    background-color: blue;
    padding-top: 2rem;
	padding-bottom: 4rem;
}

.explanation h3{
    background-color: #5C768D;
    border-top-right-radius: 10px;
    font-size: 30px;
    text-align: left;
    width: 50%;
    margin-top: 3rem;
    padding: .5rem 0rem 1rem 5rem;
}

.explanation p{
    background-color: #5C768D;
    font-size: 22px;
    text-align: left;
    width: 50%;
    padding: 0rem 0rem 1rem 5rem;
}

.explanation > p:last-child{
    border-bottom-right-radius: 10px;
}

.explanation::after{
    background-image: url(media/vegeta&trunks.png);
    content: " ";
	background-position: top right;
    background-size: contain;
    height: 500px;
	width: 100%;
    right: 15%;
	top:1.3rem;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 27.2rem; 
}

.participation{
	width: 50%;
	left:50%;
	position: relative;
    background-color: green;
    padding-top: 2rem;
	padding-bottom: 4rem;
}

.participation h3{
	background-color: #5C768D;
    border-top-right-radius: 10px;
    font-size: 30px;
    text-align: left;
	border-top-left-radius: 10px;
	width: 80%;
	right: 0;
    margin-top: 3rem;
    padding: .5rem 5rem 1rem 5rem;
}

.participation p{
	background-color: #5C768D;
	right: 0;
    font-size: 22px;
    text-align: left;
    width: 80%;
    padding: 0rem 5rem 1rem 5rem;
}

.participation > p:last-child{
	border-bottom-left-radius: 10px;
}

.participation::before{
	background-image: url(https://i.imgur.com/rKl2dVK.png);
	content: " ";
	background-position: left;
	right: 80%;
	top: 20%;
    background-size: contain;
    height: 500px;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
}

footer{
    display: flex;
    justify-content: space-around;
    background:url(media/shenrontexturebanner.png);
    background-size: contain;
    border: 1px solid black;
    padding: 1rem 0rem 1rem 0rem;
}

footer a{
    color:white;
    text-decoration: none;
    transition: .3s;
}

footer a:hover{
    background-color: white;
    color:black;
    transform: scale(1.20);
    transition: .3s;
}